In [44]:
import io, requests
import pandas as pd, matplotlib.pyplot as plt
from bs4 import BeautifulSoup


with io.StringIO() as csv:
  data_url \
    = "https://docs.google.com/uc?export=download&id=1GLngCo_qP1H_SfOjrGk6eaABciTLOSBU"
  data = requests.get(data_url).text
  csv.write(data)
  csv.seek(0)
  dataframe = pd.read_csv(csv)


pd.set_option('display.expand_frame_repr', False)

print(dataframe)

      Series_reference   Period  Data_value Suppressed STATUS   UNITS  Magnitude                         Subject                                         Group                          Series_title_1                      Series_title_2 Series_title_3  Series_title_4  Series_title_5
0          BDCQ.SEA1AA  2011.06     80078.0        NaN      F  Number          0  Business Data Collection - BDC               Industry by employment variable                             Filled jobs   Agriculture, Forestry and Fishing         Actual             NaN             NaN
1          BDCQ.SEA1AA  2011.09     78324.0        NaN      F  Number          0  Business Data Collection - BDC               Industry by employment variable                             Filled jobs   Agriculture, Forestry and Fishing         Actual             NaN             NaN
2          BDCQ.SEA1AA  2011.12     85850.0        NaN      F  Number          0  Business Data Collection - BDC               Industry by employment variable                             Filled jobs   Agriculture, Forestry and Fishing         Actual             NaN             NaN
3          BDCQ.SEA1AA  2012.03     90743.0        NaN      F  Number          0  Business Data Collection - BDC               Industry by employment variable                             Filled jobs   Agriculture, Forestry and Fishing         Actual             NaN             NaN
4          BDCQ.SEA1AA  2012.06     81780.0        NaN      F  Number          0  Business Data Collection - BDC               Industry by employment variable                             Filled jobs   Agriculture, Forestry and Fishing         Actual             NaN             NaN
...                ...      ...         ...        ...    ...     ...        ...                             ...                                           ...                                     ...                                 ...            ...             ...             ...
20636    BDCQ.SEE3999A  2017.06         NaN          Y      C  Number          0  Business Data Collection - BDC  Territorial authority by employment variable  Filled jobs (workplace location based)  Area Outside Territorial Authority         Actual             NaN             NaN
20637    BDCQ.SEE3999A  2017.09         NaN          Y      C  Number          0  Business Data Collection - BDC  Territorial authority by employment variable  Filled jobs (workplace location based)  Area Outside Territorial Authority         Actual             NaN             NaN
20638    BDCQ.SEE3999A  2017.12         NaN          Y      C  Number          0  Business Data Collection - BDC  Territorial authority by employment variable  Filled jobs (workplace location based)  Area Outside Territorial Authority         Actual             NaN             NaN
20639    BDCQ.SEE3999A  2018.03         NaN          Y      C  Number          0  Business Data Collection - BDC  Territorial authority by employment variable  Filled jobs (workplace location based)  Area Outside Territorial Authority         Actual             NaN             NaN
20640    BDCQ.SEE3999A  2018.06         NaN          Y      C  Number          0  Business Data Collection - BDC  Territorial authority by employment variable  Filled jobs (workplace location based)  Area Outside Territorial Authority         Actual             NaN             NaN

[20641 rows x 14 columns]

In [45]:
dataframe.pop(item="Series_reference")

print(dataframe)
print(dataframe.dtypes)

        Period  Data_value Suppressed STATUS   UNITS  Magnitude                         Subject                                         Group                          Series_title_1                      Series_title_2 Series_title_3  Series_title_4  Series_title_5
0      2011.06     80078.0        NaN      F  Number          0  Business Data Collection - BDC               Industry by employment variable                             Filled jobs   Agriculture, Forestry and Fishing         Actual             NaN             NaN
1      2011.09     78324.0        NaN      F  Number          0  Business Data Collection - BDC               Industry by employment variable                             Filled jobs   Agriculture, Forestry and Fishing         Actual             NaN             NaN
2      2011.12     85850.0        NaN      F  Number          0  Business Data Collection - BDC               Industry by employment variable                             Filled jobs   Agriculture, Forestry and Fishing         Actual             NaN             NaN
3      2012.03     90743.0        NaN      F  Number          0  Business Data Collection - BDC               Industry by employment variable                             Filled jobs   Agriculture, Forestry and Fishing         Actual             NaN             NaN
4      2012.06     81780.0        NaN      F  Number          0  Business Data Collection - BDC               Industry by employment variable                             Filled jobs   Agriculture, Forestry and Fishing         Actual             NaN             NaN
...        ...         ...        ...    ...     ...        ...                             ...                                           ...                                     ...                                 ...            ...             ...             ...
20636  2017.06         NaN          Y      C  Number          0  Business Data Collection - BDC  Territorial authority by employment variable  Filled jobs (workplace location based)  Area Outside Territorial Authority         Actual             NaN             NaN
20637  2017.09         NaN          Y      C  Number          0  Business Data Collection - BDC  Territorial authority by employment variable  Filled jobs (workplace location based)  Area Outside Territorial Authority         Actual             NaN             NaN
20638  2017.12         NaN          Y      C  Number          0  Business Data Collection - BDC  Territorial authority by employment variable  Filled jobs (workplace location based)  Area Outside Territorial Authority         Actual             NaN             NaN
20639  2018.03         NaN          Y      C  Number          0  Business Data Collection - BDC  Territorial authority by employment variable  Filled jobs (workplace location based)  Area Outside Territorial Authority         Actual             NaN             NaN
20640  2018.06         NaN          Y      C  Number          0  Business Data Collection - BDC  Territorial authority by employment variable  Filled jobs (workplace location based)  Area Outside Territorial Authority         Actual             NaN             NaN

[20641 rows x 13 columns]
Period            float64
Data_value        float64
Suppressed         object
STATUS             object
UNITS              object
Magnitude           int64
Subject            object
Group              object
Series_title_1     object
Series_title_2     object
Series_title_3     object
Series_title_4    float64
Series_title_5    float64
dtype: object

In [47]:
dataframe.size

268333

In [ ]:
dataframe.